@font-face {
  font-family: 'Yu Gothic";
  font-weight: 100;

  src: local('Yu Gothic Medium');
}
@font-face {
  font-family: 'Yu Gothic';
  font-weight: 200;

  src: local('Yu Gothic Medium');
}
@font-face {
  font-family: 'Yu Gothic';
  font-weight: 300;

  src: local('Yu Gothic Medium');
}
@font-face {
  font-family: 'Yu Gothic';
  font-weight: 400;

  src: local('Yu Gothic Medium');
}
@font-face {
  font-family: 'Yu Gothic';
  font-weight: bold;

  src: local('Yu Gothic Bold');
}