<h2>自己紹介</h2>
<span class="tag-line">専門性はありません、広く浅い人です</span>
<p>
	1967年に大阪で生まれ育ち、1986年に就職で奈良に移り住んでからはずっと奈良に住んでいます。今は自宅の裏に田んぼが広がる田舎で妻と2匹のわんこと一緒に住んでいます。娘が1人いますが、就職を機に広島に引っ越していきました。生きている時間の半分以上は奈良で過ごしているにもかかわらず、心はいつまでたっても大阪人です。
</p>
<p>
	仕事では、長い間<a href="https://jp.sharp/" target="_blank">シャープ株式会社</a>でソフトウェアエンジニアや企画の仕事をやっていました。組み込み（4bitや8bitのいわゆるマイコンと呼ばれるコンピュータを使った製品）からスタートし、パソコン用のソフトウェア、webの制作運営にも携わってきましたので、いわゆる"IoT"の"I"と"T"の両方がわかります。
</p>
<p>
	仕事としてはエンジニアを長い間やってきましたが、あまり「エンジニア」を前面に出したくはありません。なぜなら、一般的にエンジニアのイメージが「技術中心」で「自分都合」な考え方をする人と認識されているからです。私はひねくれ者なので、その中に入りたくないと思っています。私はエンジニアではありますが、商品企画からリリース、サポートまで関わってきました。ですから、技術のみに携わるエンジニアとはちょっと違うという自負があります。
</p>
<p>
	プライベートでは2014年に出会った「CoderDojo（コーダー道場）」という子どもたちとプログラミングを楽しむコミュニティに深く関わっていて、休日のほとんどを<a href="https://coderdojo.com/" target="_blank">CoderDojo</a>の活動に費やしています。私が「CoderDojo」に力を入れるにあたり、大きな原動力になっているのは、「子どもたちの主体的な選択の機会を作りたい」「自分が経験したこと得てきたことをシェアしたい」「同じ想いを共有する仲間と一緒に活動できる」の3つです。
</p>
<p>
	私は自分のことを「専門性のない広く浅い人」と表現しています。<br>
	私は何かを深めることはできませんが、どんなことでも一通りのことを消化することはできます。つまり、とりあえず一通り取り込んで、それなりに理解して吸収できる人間です。「<strong>専門性は高くないけれど、浅く広くやるのが得意</strong>」それを生かして、色んな人と人、人とコト、人とモノの橋渡しをしながら、自分に関わった人が新しい武器を手に入れたり、新しい視点を手に入れたりするお手伝いができたらいいなと考えています。
</p>
<p>
	今、もっとも関心を持っているのは「人」です、特に若い人。若い人が社会に出られるように育成し、そういった若い人たちが幸せに暮らせる社会の地ならしをしていくのが私の使命だと感じています。
</p>
