{% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
  <ul>
    {% assign url = site.baseurl | append: "/" %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'page/' | append: paginator.previous_page %}
      {% endif %}
      - <a class="prev" href="{{ url | append: prev }}" title="Articles new">&laquo; Prev</a>
    {% else %}
      - <span class="prev disabled">&laquo; Prev</span>
    {% endif %}
    - <span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span>
    {% if paginator.next_page %}
      - <a class="next" href="{{ url | append: 'page/' | append: paginator.next_page }}" title="Articles old">Next &raquo;</a>
    {% else %}
      - <span class="next disabled">Next &raquo;</span>
    {% endif %}
  </ul>
</nav>
{% endif %}