.midashi {
  padding: 15px 10px;
  border-bottom: 2px solid navy;
  margin: 15px 0;
}

.sns-icon {
	display: flex;
	justify-content: flex-start;
	align-items: lex-start;
	i {
		font-size: 2em;
		margin-right: 0.5em;
	}
	a.hover {
		text-decoration: none;
	}
}
