.midashi {
  padding: 15px 10px;
  border-bottom: 2px solid navy;
  margin: 15px 0;
}

.sns-icon {
	display: flex;
	justify-content: flex-start;
	align-items: lex-start;
	i {
		font-size: 2em;
		padding: 0 0.4em 0 0;
	}
}

#top {
	h2 {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		border: 1px solid rgb(54, 57, 59);
		border-radius: 6px;
		padding: 15px;
	}
}

#aboutme {
	h2 {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		border: 1px solid rgb(54, 57, 59);
		border-radius: 6px;
		padding: 10px;
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	h3 {
		margin-top: 2em;
		margin-bottom: 0;
		text-decoration: none;
	}

	.history {
		font-size: 1.5em;
		margin-top: 1em;
	}

	.no-list-mark li {
		list-style-type: none;
		margin-left: -1em;
	}
	.tag-line {
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: underline;
	}
}