/* footer1固定 */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
	margin-top: auto;
}

.container {
	width: 100%;
}

.midashi {
  padding: 15px 10px;
  border-bottom: 2px solid navy;
  margin: 15px 0;
}

.sns-icon {
	display: flex;
	justify-content: flex-start;
	align-items: lex-start;
	margin-top: 0.5em;
	i {
		font-size: 2em;
		margin: 0 0.5em 0 0;
	}
}

/* ボタン */
.btn-border {
  display: block;
  width: 100%;
  text-align: center;
  border: 2px solid #36393b !important;
  font-size: 1.5em;
  color: #9ec34b;
  text-decoration: none;
  padding: 8px 16px !important;
  border-radius: 6px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #36393b;
  border-color: #36393b;
  color: #fff;
}

.marker {
	&.pink {
		background: linear-gradient(transparent 70%, #ff99cc 0%);
	}
	&.orange {
		background: linear-gradient(transparent 70%, #ffa500 0%);
	}
	&.blue {
		background: linear-gradient(transparent 70%, #99ccff 0%);
	}
}

.profile_image {
	width: 128px;
	border-radius: 64px;
	border: 1px solid rgb(54, 57, 59);
	margin-right: 2em;
}

#aboutus {
	h2 {
		margin-top: 30px;
		text-decoration: underline;

	}
	h3 {
		text-decoration: none;
	}
	.profile_main {
		margin-top: 30px;
	}
	i {
		margin-right: 0.5em;
	}
}

#top {
	h2 {
		margin-top: 30px;
		text-decoration: underline;

	}
	h3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 1.2em;
		line-height: 1.2em;
		margin: 1em 0;
		text-decoration: none;
		i {
			margin-right: 0.2em;
		}
	}
	.organization,
	.selfemployed,
	.etc {
		border: 1px solid rgb(54, 57, 59);
		border-radius: 6px;
		padding: 0.8em;
		margin-bottom: 30px;
	}
	ul {
		li {
			margin: 15px 30px 0 15px;
		}
	}

	.more-link {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		a:before {
			content: ">>";
		}
	}

	.note {
		display: block;
		font-size: 0.8em;
		margin-top: 1em;
		&:before {
			content: "※";
		}
	}
}

#organization,
#selfemployed,
#etc {
	h2 {
		margin-top: 30px;
		text-decoration: underline;

	}
	h3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 1.2em;
		line-height: 1.2em;
		margin: 2em 0 1em 0;
		text-decoration: none;
		i {
			margin-right: 0.2em;
		}
	}
}

#aboutme {
	h2 {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		border: 1px solid rgb(54, 57, 59);
		border-radius: 6px;
		padding: 5px;
		font-size: 1.2em;
		margin: 2em 0 1em 0;
	}
	h3 {
		margin-top: 2em;
		margin-bottom: 0;
		text-decoration: none;
	}

	.history {
		font-size: 1.2em;
		margin-top: 1em;
	}

	.no-list-mark li {
		list-style-type: none;
		margin-left: -1em;
	}
	.tag-line {
		font-size: 1.2em;
		font-weight: bold;
		text-decoration: underline;
		margin-bottom: 0.5em;
	}
}