---
layout: default
title: crossnote
permalink: /note/
image : /assets/images/common/ogp.png
---
<section class="post-list">
  <div class="container">
    <h1 style="font-size:3em;">crossnote</h1>
    <h2>Recent posts</h2>
    {% assign limited_posts = site.data.note.limited_posts | to_integer %}
    {% for post in site.posts limit:limited_posts %}
      <article class="post-item">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </article>
    {% endfor %}
    <hr>
    <h2>Magazine</h2>
    <div class="shelf">
      {% for magazine in site.data.note.magazines %}
      <div class="magazine">
        <a href="/note/{{ magazine.category }}/">
          <img src="/assets/images/note/{{ magazine.category }}.png" alt="{{ magazine.title }}">
          <p>{{ magazine.text }}</p>
        </a>
        {% assign sorted-posts = site.posts | where: "categories", magazine.category %}
        {% for post in sorted-posts limit: 5 %}
        <article class="post-item">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </article>
      {% endfor %}
        {% if sorted-posts.count > 2 %}
          <a href="/note/{{ magazine.category }}">and more</a>
          {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

</section>
