// - - - - - - - - - - - - - - - - - -

// Profile

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	margin-top: 20px;
	padding: 60px 0 100px;
	background: $hero-background-color;

	@include mq(tabletp) {
		margin-top: 25px;
		padding: 100px 0 120px 0;
//		padding: 120px 0 180px;
}

	@include mq(laptop) {
		margin-top: 30px;
		padding: 120px 0 140px 0;
//		padding: 160px 0 220px;
	}

	h1 {
		color: $hero-text-color;

		@include mq(tabletp) {
			white-space: pre-line;
		}
	}

	.date {
		font-size: 1.2em;
		font-family: Helvetica, sans-serif;
	}

	p {
		color: rgba($hero-text-color, 0.8);

		@include mq(tabletp) {
			margin-top: 25px;
		}

		@include mq(laptop) {
			margin-top: 30px;
		}
	}

	.socials {
		margin-top: 15px;

		@include mq(tabletp) {
			margin-top: 25px;
		}

		@include mq(laptop) {
			margin-top: 30px;
		}
	}

	.socials__item__link {
		background: rgba($hero-text-color, 0.8);
		// color: $hero-background-color;
		color: #132930;

		&:hover {
			background: $hero-text-color;
		}
	}
}

.hero__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($hero-background-color, $overlay-opacity);
	&.note {
		background: linear-gradient(to right, #79DB71, #009ECB);
	}
	&.talk {
		background: linear-gradient(to right, #D65799, #009ECB);
	}
	&.vision {
		background: linear-gradient(to right, #1471AF, #009ECB);
	}
	&.business {
		background: linear-gradient(to right, #00B9CB, #009ECB);
	}
}
