---
layout: default
---

<section class="hero hero--single">

	{% if page.audio_file %}
		<div class="hero__image" style="background-image: url({{ site.data.settings.cover.talk | relative_url }})">
		{{ site.data.settings.hero_settings.cover_talk }}
	{% else %}
		<div class="hero__image" style="background-image: url({{ site.data.settings.cover.note | relative_url }})">
	{% endif %}
		<div class="hero__overlay"></div>
	</div>
	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p class="date">{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{% if page.audio_file %}
			<audio src="{{ site.data.podcast.audio_base_url }}{{ page.audio_file }}" controls>
				<p>お使いのブラウザでは再生できません。最新のSafari、Chrome、edgeをお使いください。</p>
			</audio>

			{% endif %}

			{{ page.content }}

		</article>

	</div>

</section>